.main-page-content {
  position: absolute;
  width: 20rem;
  right: 10rem;
  top: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-page-content h1 {
  font-size: 32px;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1rem;
}

.main-page-content__text {
  color: #616161;
  font-size: 14;
  font-weight: 400;
  margin-bottom: 2rem;
}

.main-page-content__button {
  background-color: white;
  padding: 1rem 4rem;
  border-radius: 24px;
  color: #175bc0;
  font-size: 12px;
  font-weight: 700;
  cursor: pointer;
}
